.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}
.card_link {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin: 0 25px 50px;
  background-size: cover;
  background-position: center center;
}

.card_h3 {
  width: 260px;
  position: absolute;
  color: #ffffff;
  bottom: 20px;
  left: 40px;
}

.card_h3:hover {
  color: #ff6060;
}
