.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header-nav {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 24px;
}

.header-accueil {
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: #ff6060;
}
a:hover {
  text-decoration: underline;
}
