.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header_logo {
  height: 60px;
  width: 100%;
}

.header_nav {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 24px;
}

.header_accueil {
  padding: 0 2em;
}

.header_accueil_active {
  padding: 0 2em;
  text-decoration: underline;
}

.header_about_active {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #ff6060;
  size: 24px;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .header_logo {
    height: 43px;
  }

  .header_nav {
    font-size: 12px;
  }
}
