.home {
  margin-top: 4em;
}

.home_section {
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 53px 0;
}

@media screen and (max-width: 900px) {
  .home {
    margin-top: 0;
  }
  .home_section {
    background-color: white;
    margin: 0;
  }
}
