.logement_titre {
  display: flex;
  flex-direction: column;
}

.log_info {
  display: flex;
  justify-content: space-between;
}
.log_tag {
  display: flex;
}

.logement_collapse {
  display: flex;
  justify-content: space-between;
}
.logement_collapse_div {
  width: 48%;
}

.collapse_log {
  font-size: 18px;
}
